<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./welcome.css" type="text/css">
  <title>home</title>
</head>
<body>
  <div id="wrap">
<div id="welcome">
<h1>Staff Pilot에 오신 것을 환영합니다</h1>

<form id="login">
<a href="/account/register-form"><button type="button">가입하기</button></a>
<a href="/account/login-form"><button type="button">로그인하기</button></a>
</form>
</div>
</div>
<br>
  <p>&copy; Staff Pilot API Server - Media Project 2023-1</p>
</body>

</html>