@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color : transparent;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  display : flex;
  line-height : 1.35;
  justify-content : center;
  align-items : center;
  height : var(--vh);
  margin : 0 auto;
  min-width : 17.5rem;
}

#root {
  width : 100%;
  background-color : white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 30px 0px;
  height : var(--vh);
  
  padding : 0 1rem;
}

:root {
  --vh : 100vh;
  --gutter: 1rem;
}

a, button {
  cursor : pointer;
}

caption {
  display : flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}